<section class="faq-section">
  <h2 class="faq-title">Preguntas Frecuentes</h2>

  <div class="faq-box">
    <ul>
      <li>
        <strong>¿Cuánto dura la experiencia?</strong>
        <p>Cada turno dura 60 minutos de juego y arte.</p>
      </li>
      <li>
        <strong>¿Qué incluye la entrada?</strong>
        <ul>
          <li>Circuito de desafíos y juegos guiados</li>
          <li>Pinturas, bombas de agua y pistolas recargables</li>
          <li>Un lienzo personal de 30x20 cm</li>
          <li>Paletas, pinceles, rodillos y esponjas</li>
          <li>Protección (antiparras y mameluco)</li>
          <li>¡Y toda la diversión de salpicar y crear tu obra flúor!</li>
        </ul>
      </li>
      <li>
        <strong>¿Cuál es el precio?</strong>
        <p>
          La experiencia cuesta $25.000 por persona.<br>
          <strong>Promos:</strong><br>
          Ingresan 7 personas pagan 6.<br>
          Más de 7 tiene un 15% de descuento.
        </p>
      </li>
      <li>
        <strong>¿Cómo reservo un turno?</strong>
        <p>
          Las reservas se hacen con una seña del 10% del total.<br>
          Se pueden cambiar o cancelar hasta 24 hs antes sin perder la seña, a través de nuestro whatsapp.
        </p>
      </li>
      <li>
        <strong>¿Qué ropa debo llevar?</strong>
        <p>Deben asistir con ropa y calzado no amado. Igualmente les damos mameluco impermeable y antiparras.</p>
      </li>
      <li>
        <strong>¿Hay límite de edad?</strong>
        <p>
          La experiencia está pensada para todas las edades a partir de 5 años.<br>
          Menores deben ingresar acompañados por un adulto.
        </p>
      </li>
      <li>
        <strong>¿Puedo ir solo o necesito un grupo?</strong>
        <p>
          Mínimo 2 personas por turno.<br>
          Lo ideal es venir en grupos de 2 a 10 personas para aprovechar al máximo los juegos!
        </p>
      </li>
      <li>
        <strong>¿Se pueden hacer eventos especiales?</strong>
        <p>
          Sí 🎉. Organizamos cumpleaños, salidas de grupos, despedidas, actividades para empresas y colegios.
          Consultanos para armar un paquete a medida a nuestro whatsapp.
        </p>
      </li>
    </ul>
  </div>

  <!-- Manchas decorativas -->
  <img src="assets/salpicaduras/mancha1.png" class="splash splash1" alt="decoración">
  <img src="assets/salpicaduras/mancha2.png" class="splash splash2" alt="decoración">
  <img src="assets/salpicaduras/mancha3.png" class="splash splash3" alt="decoración">
</section>
